<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="index :: header">

</head>

<body>
	<nav th:insert="index :: nav-header"> </nav>
	<div class="container">
		<h1>Add Book</h1>
		<hr />

		<form th:action="@{http://localhost:8080/a/books/add}" method="post" th:object="${book}" class="form-group" id="#form">
			<div>
				Book Name: <input id="name" name="bookName" />
			</div>
			</br>
			<div>
				<!-- <th:select path="topicId" items="${topics}" /> -->
				Book Topic: <select id="topicId" th:field="*{topicid}">
					<option th:value="0">nothing selected</option>
					<option th:each="p : ${topics}" th:value="${p.topicId}" th:text="${p.topicName}" />
				</select>
				<a th:href="@{http://localhost:8080/books/add}">Go to add topic to include new topic in the list</a>
			</Div>

			<div>
				</br>
				Book Author:
				<select id="authorids" th:field="*{authorids}" multiple="true">
					<option value="">nothing selected</option>
					<option th:each="p : ${authors}" th:value="${p.authorId}" th:text="${p.fullName}" />
				</select>
				<a th:href="@{http://localhost:8080/a/books/add}">Go to add author to include new author in the list</a></Div>

			<div>

				<input type="submit" id="submit" value="Add Book" />
			</div>

			<div id="bookdetailsDiv" style="display:none">

				<h3>Book Added:</h3>



				<table>
					<tr>
						<th>Name</th>
						<th>Topic</th>
						<th>Author(s)</th>


					</tr>
					<tr>
						<td id="bookName"></td>
						<td id="bookTopic"></td>
						<td id="bookAuthors"></td>
					</tr>
				</table>

			</div>

		</form>

	</div>
	<span th:insert="index::footer">
	</span>

</body>

</html>