<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="index :: header">

</head>

<body>
	<nav th:insert="index :: nav-header"> </nav>
	<div class="container">
		<h1>Books</h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Topic</th>
				<th>Author(s)</th>


			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.bookName}"></td>
				<td th:text="${book.topic.topicName}"></td>
				<td th:text="${book.authorsString}"></td>
				<td><a class="btn btn-primary" th:href=@{/books/edit(id=${book.id})}>Edit </a>
				<td><a class="btn btn-danger" th:href=@{/books/delete(id=${book.id})}>Delete</a>
				<td><a class="btn btn-primary" th:href=@{/a/books/copies(id=${book.id})}>Copies</a>
			</tr>
		</table>
		<hr />

		<Div><a th:href="@{/books/add}">Add New Book</a></Div>
	</div>
	<span th:insert="index::footer">
	</span>

</body>

</html>