<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
<title>RTL Library</title>	
</head>
<body>
	<nav th:insert="index :: nav-header"> </nav>
	<div class="container">
	<h1>Edit Book</h1>
	<hr />
	
<form  th:action="@{/books/edit}" method="post" th:object="${book}" class="form-group" id="#form">		
	 <div>
			Book Name: <input th:field="*{bookName}" /> 
			</div>
			</br>
			 <div>
			  <!-- <th:select path="topicId" items="${topics}" /> -->
			Book Topic: <select th:field="*{topicid}">
			 <option th:value="0">nothing selected</option>
            <option th:each="p : ${topics}" th:value="${p.topicId}" th:text="${p.topicName}"  />
           </select>
         <a th:href="@{/a/topics}">Go to add topic to include new topic in the list</a>
         </Div> 
			
			<div>
			</br>
			Book Author: 
			<select id="authorids" name="authorids" th.value="*{authorids}" multiple="true">
			 <option value="">nothing selected</option>
            <option th:each="p : ${authors}" th:value="${p.authorId}" th:text="${p.fullName}" th:selected="${book.authorids.contains(p.authorId)}" />
            </select>
        <a th:href="@{/a/authors/add}">Go to add author to include new author in the list</a></Div> 
		
		
		 <input th:field="*{id}" style="display:none"/>
		<div>
		<input type="submit"  class="btn btn-primary" id="submit" value="Update Book"/>
		</div>
	</form>

<div class="container">
	<span th:insert="index::footer">
	</span>
</body>
</html>
