<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
<title>RTL Library</title>	
</head>
<body>
<nav th:insert="index :: nav-header"> </nav>

	<div class="container">
		<h3>Invitations</h3>
		<table class="table">
			<tr>
				<th>Invitation Id</th>
				<th>Author Name</th>
				<th>Event Name</th>
			</tr>
			<tr th:each="invitation : ${listOfInvitations}">
				<td th:text="${invitation.invitationId}"></td>
				<td>
					<span th:text="${invitation.author.firstName}+ ' '+${invitation.author.lastName}"> fullName </span>
				</td>
				<td>
					<a  th:href="'/events/edit?eventId=' + ${invitation.seminar.event.eventId}"><span th:text="${invitation.seminar.event.eventName}"> eventName </span></a>
				</td>
				<td sec:authorize="hasAuthority('ADMIN')">
				  <a class="btn btn-primary" type="button" th:href="'/invitations/edit?id=' + ${invitation.invitationId}" name="button">
					Edit
				  </a>
				</td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a class="btn btn-danger" type="button" th:href="'/invitations/delete?id=' + ${invitation.invitationId}" name="button">
					Delete
					</a>
				</td>
			<!--	<td>
					<a th:href="@{/developer/{id}(id=${developer.id})}">view</a>
				</td> -->
			</tr>
		</table>
	</div>
	<hr/>
	
	<div class="container" sec:authorize="hasAuthority('ADMIN')">
		<form th:action="@{/invitations}" method="post" enctype="multipart/form-data">
		    
			<div class="row">
				<div class="col-md-6">
				  <label for="authorId" class="form-label">Select Author</label>
				  <select class="form-select" name="authorId">
					  <option th:each="author : ${listOfAuthors}" th:value="${author.authorId}" th:text="${author.authorId}+' - '+ ${author.firstName}+ ' '+${author.lastName}"></option>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
				  <label for="eventId" class="form-label">Select Seminars</label>
				  <select class="form-select" name="eventId"> 
					  <option th:each="seminar : ${listOfSeminars}" th:value="${seminar.eventId}" th:text="${seminar.event.eventId} +' - '+${seminar.event.eventName}"></option>
					</select>
				</div>
			</div>
			
			<div>
				<input class="btn btn-primary" type="submit" value="Register" name="button"/>
			</div>
		</form>
	</div>
	<span th:insert="index::footer">
	</span>	
	
</body>
</html>

