<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
<title>RTL Library</title>	
</head>
<body>
<nav th:insert="index :: nav-header"> </nav>

	<div class="container">
		<h3>Registrations</h3>
		<table class="table">
			<tr>
				<th>Registration Id</th>
				<th>Customer Name</th>
				<th>Event Name</th>
			</tr>
			<tr th:each="registration : ${listOfRegistrations}">
				<td th:text="${registration.registrationId}"></td>
				<td>
					<span th:text="${registration.customer.fName +' '+registration.customer.lName }"> fullName </span>
				</td>
				<td>
					<a  th:href="'/events/edit?eventId=' + ${registration.exhibition.event.eventId}"><span th:text="${registration.exhibition.event.eventName}"> eventName </span></a>
				</td>
				<td sec:authorize="hasAuthority('ADMIN')" >
				  <a class="btn btn-primary" type="button" th:href="'/registrations/edit?id=' + ${registration.registrationId}" name="button">
					Edit
				  </a>
				</td>
				<td sec:authorize="hasAuthority('ADMIN')">
					<a class="btn btn-danger" type="button" th:href="'/registrations/delete?id=' + ${registration.registrationId}" name="button">
					Delete
					</a>
				</td>
			</tr>
		</table>
	</div>
	<hr/>
	
	<div class="container" sec:authorize="hasAuthority('ADMIN')">
		<form th:action="@{/registrations}" method="post" enctype="multipart/form-data">
		    
			<div class="row">
				<div class="col-md-6">
				  <label for="eventType" class="form-label">Select Customer</label>
				  <select class="form-select" name="cusId">
					  <option th:each="customer : ${listOfCustomers}" th:value="${customer.id}" th:text="${customer.fName} +' '+${customer.lName} +' '+${customer.idNumber}+' '+${customer.idType}"></option>
					</select>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
				  <label for="eventType" class="form-label">Select Exhibition</label>
				  <select class="form-select" name="eventId">
					  <option th:each="exhibition : ${listOfExhibitions}" th:value="${exhibition.eventId}" th:text="${exhibition.event.eventId} +'-'+${exhibition.event.eventName}"></option>
					</select>
				</div>
			</div>
			
			<div>
				<input class="btn btn-primary" type="submit" value="Register" name="button"/>
			</div>
		</form>
	</div>
	<span th:insert="index::footer">
	</span>	
	
</body>
</html>

