<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="index :: header">
	<title>RTL Library</title>
</head>

<body>
	<nav th:insert="index :: nav-header"> </nav>
	<div class="container">
		<h1>Rent a Book</h1>
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Topic</th>
				<th>Author(s)</th>
				<th>Status</th>


			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.bookName}"></td>
				<td th:text="${book.topic.topicName}"></td>
				<td th:text="${book.authorsString}"></td>
				<td th:text="${book.BookStatus}"></td>

				<td th:if="${book.makerentable}"> <a class="btn btn-primary" th:href=@{/rentals/rent(id=${book.availableCopyId})}>Rent</a>
				</td>

			</tr>
		</table>
		<hr />
		<Div><a th:href="@{/rental/cust/history}">Go to Rental History</a></Div>
	</div>
	<span th:insert="index::footer">
	</span>
</body>

</html>