<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<title>RTL Library</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Authors</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>state</th>
			<th>city</th>
			<th>zipcode</th>
			<th>email</th>
			
		</tr>
		<tr th:each="author : ${authors}">
			<td th:text="${author.firstName + ' ' + author.lastName}"></td>
			<td th:text="${author.state}"></td>
			<td th:text="${author.city}"></td>
			<td th:text="${author.zipcode}"></td>
			<td th:text="${author.email}"></td>
		<!--	<td>
				<a th:href="@{/developer/{id}(id=${developer.id})}">view</a>
			</td> -->
		</tr>
	</table>
	<hr/>
	
	<form th:action="@{/authors}" method="post" enctype="multipart/form-data">
		<div>
			First name: <input name="firstName" />
		</div>
		<div>
			Last name: <input name="lastName" />
		</div>
		<div>
			Email: <input name="email" />
		</div>
		<div>
			StreetAddresse: <input name="stAddress" />
		</div>
		<div>
			City: <input name="city" />
		</div>
		<div>
			State: <input name="state" />
		</div>
		<div>
			Zipcode: <input name="zipCode" />
		</div>
		<div>
			<input type="submit" value="Create author" name="button"/>
		</div>
	</form>
	
</body>
</html>
