<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
	
</head>
<body>
<nav th:insert="index :: nav-header"> </nav>

	<div class="container">
		<h3>Topics</h3>
		<table class="table">
			<tr>
				<th>Topic Id</th>
				<th>Topic Name</th>
			</tr>
			<tr th:each="topic : ${allTopicsList}">
				<td th:text="${topic.topicId}"></td>
				<td th:text="${topic.topicName}"></td>
				<td>
				  <a class="btn btn-primary" type="button" th:href="'/topics/edit?topicId=' + ${topic.topicId}" name="button">
					Edit
				  </a>
				</td>
				<td>
					<a class="btn btn-danger" type="button" th:href="'/topics/delete?topicId=' + ${topic.topicId}" name="button">
					Delete
					</a>
				</td>
			</tr>
		</table>
	</div>
	<hr/>
	
	<div class="container">
		<form th:action="@{/topics}" method="post" enctype="multipart/form-data">
		    <div class="row">
				<div class="col-md-6">
				  <label for="topicName" class="form-label">Topic Name</label>
				  <input class="form-control" id="topicName"  name="topicName" placeholder="Topic Name">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<input class="btn btn-primary" type="submit" value="Create Topic" name="button"/>
				</div>
			</div>
		</form>
	</div>
	<span th:insert="index::footer">
	</span>
	
</body>
</html>

