<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
	
</head>
<body>
<nav th:insert="index :: nav-header"> </nav>
		
	<div class="container">
		<div class="alert alert-primary" role="alert" th:if="${Message}">
 			 Registered!
		</div>
		<form th:action="@{/registeruser}" method="post" th:object="${user}">
		
			
		
			<div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Email Address: </label>
                    <input  th:field="*{emailAddress}" class="form-control" required />
                </div>
            </div>
            <div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Id Type: </label>
                    <input  th:field="*{idType}" class="form-control" required />
                </div>
            </div>
            
            <div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Id Number: </label>
                    <input  th:field="*{idNumber}" class="form-control" required />
                </div>
            </div>
            
            <div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Full Name: </label>
                    <input  th:field="*{fullName}" class="form-control" required />
                </div>
            </div>
            
            <div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Phone Number: </label>
                    <input  th:field="*{phoneNumber}" class="form-control" required />
                </div>
            </div>
            
            <div class="=row">                
                <div class="col-md-6">
                	<label class="form-label">Password: </label>
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="6" maxlength="10"/>
                </div>
            </div>
             
            
			<div>
				<input class="btn btn-primary" type="submit" value="Register" name="button"/>
			</div>
		</form>
	</div>
	<span th:insert="index::footer">
	</span>
</body>
</html>

