<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="index :: header"> 
<title>RTL Library</title>	
</head>
<body>
	<nav th:insert="index :: nav-header"> </nav>
	<div class="container">
	<h1>Updated Book Details</h1>
		<hr />
<table>
		<tr>
			<th>Name</th>
			<th>Topic</th>
			<th>Author(s)</th>


		</tr>
		<tr>
			<td th:text="${book.bookName}"></td>
			<td th:text="${book.topic.topicName}"></td>
			 <td th:text="${book.authorsString}"></td>
			
			 <td><a th:href=@{http://localhost:8080/a/books/edit(id=${book.id})}>Edit Book</a>
			<!--   <a th:href=@{/books/edit?id=${book.id}}>Edit Book</a> -->
			  </td>
		</tr>
		<tr><td><a th:href="@{http://localhost:8080/a/books}">Go to book list</a></td></tr> 
	</table>


	</div>
	<span th:insert="index::footer">
	</span>
</body>
</html>
